
services:

  app:
    build: .
    ports:
      - "4500:4500"
    depends_on:
      - mongo
    env_file:
      - .env

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
